#hero {
  width: 100%;
  height: 90vh;
  background-image: url("https://res.cloudinary.com/db7q8jblt/image/upload/v1639684181/audiophile/home/desktop/image-hero_gnoqaf.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  display: block;
}

.hero-product {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-product-info, .hero-product-image {
  width: 50%;
}

.hero-product-info h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 15px;
  width: auto;
  margin: 20px 0;
}

.hero-product-info p {
  opacity: 0.6;
  font-weight: 300;
  width: 75%;
  margin: 20px 0;
  font-size: 14px;
}

.hero-product-info h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px 0;
}

#button-area {
  margin: 60px 0;
}


@media(max-width: 600px) {


  #hero {
    padding: 0;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero .container {
    max-width: 100vw;
    padding: 0;
  }

  .hero-product {
    display: block;
    text-align: center;
  }

  .hero-product-image, .hero-product-info {
    margin: auto;
    width: 100%;
  }

  .hero-product-info p {
    margin: auto;
  }

}
