#hero {
  background-image: url('https://res.cloudinary.com/db7q8jblt/image/upload/v1639681600/audiophile/image-header_pmn2qp.jpg');
  background-size: contain;
  background-position: right;
  padding: 200px;
  background-repeat: no-repeat;
}
