.category {
  background-color: white;
}

.category h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  color: black;
}

.category-inner {
  padding: 20px 0;
  border-bottom: solid 1px #ccc
}
