#footer {
  background-color: black;
  color: white;
  padding: 60px 0
}

#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#footer .container div {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

#footer-menu, #footer-social {
  justify-content: flex-end;
}

#footer #footer-social, #footer #footer-social ul {
  justify-content: flex-end;
  margin: 0
}

#footer p {
  margin: 20px 0
}

#footer-social ul, #footer-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer-menu {
  text-transform: uppercase;
  font-weight: 800
}

#footer li {
  margin-right: 10px;
}


@media (max-width: 600px) {

#footer {
  padding: 20px;
}

#footer .container, #footer .container div,  #footer-menu ul {
  display: block;
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

#footer #footer-social ul {
  justify-content: center;
}

}
