#footer {
  background-color: black;
  color: white;
  padding: 60px 0;
  font-family: $headers-font;
  position: relative;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#orange-line {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: orangered;
    top: 0;
    left: 50%;
    z-index: 3;
}

#footer .container div {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

#footer-menu, #footer-social {
  justify-content: flex-end;
}

#footer #footer-social, #footer #footer-social ul {
  justify-content: flex-end;
  margin: 0
}

#footer p {
  margin: 20px 0;
  opacity: 0.7;
  font-size: 12px;
  width: 70%;
}

#footer-social ul, #footer-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer-menu {
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.7
}

#footer-menu a:hover {
  color: white;
  border-bottom: solid 1px orangered;
  transition: 0.5s ease;
}

#footer li {
  margin: 0 20px;
}


@media (max-width: 600px) {

#footer {
  padding: 20px;
}

#footer .container, #footer .container div,  #footer-menu ul {
  display: block;
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

#footer p {
  margin: auto;
}

#footer #footer-social ul {
  justify-content: center;
}

#orange-line {
  left: 46%;
}

}
