#navbar {
  background-color: black;
  padding: 30px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-mobile {
  display: none;
}

#navbar #menu-pages-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0 150px;
}

#navbar a:hover {
  color: white;
  border-bottom: solid 1.5px orange;
}

@media (max-width: 600px) {

  #navbar #menu-pages-item {
    display:  none
  }

  #menu-mobile {
    display: block;
    cursor: pointer;
  }

  #menu-mobile div {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
  }

}
