<div class="card-box">
  <div style="background-image: url('https://res.cloudinary.com/db7q8jblt/image/upload/v1639684182/audiophile<%=product.image%>')"> </div>
  <h2> <%= product.name %> </h2>
  <%= link_to "See Product", product_path(product), class: "btn-audiophile btn-small" %>
</div>
