<!-- TODO: Create category table so we can do a loop in this partial -->

<section id="categories">

  <div class="container categories-outer">

    <div class="category-inner">
      <div class="category-box">
        <p>Headphones</p>
        <p>Shop <%=cl_image_tag('audiophile/shared/desktop/icon-arrow-right_mzunen')%> </p>
      </div>
    </div>


  </div>

</section>
