<h1>this is the <%= @product.name %> page</h1>

<%= simple_form_for(@product) do |f| %>
  <%= f.submit "Add to cart!", class: "btn-success text-light p-2 shadow-none" %>
<% end %>

this product contains:
<ul>
<% @pieces.each do |piece| %>
<li> <%= piece.name %>  </li>
<% end %>
</ul>
